/**
 * Resume - HNG Internship Cohort 8 Stage 2 Task.
 *
 * @author Olayemi Olatayo <olatayo.olayemi.peter@gmail.com>
 */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #001E6C;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  text-decoration: none;
  color: #001E6C;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  text-decoration: none;
  color: #4e4e4e;
}


.box-shadow-a,
.button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #5089C6;
}

.overlay-mf {
  background-color: #001E6C;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.x-hidden {
  display: none;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/
.title-box {
  margin-bottom: 3rem;
}

.title-primary {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-primary {
  text-decoration: none;
  color: #4e4e4e;
}

.line-title {
  width: 40px;
  height: 5px;
  background-color: #001E6C;
  margin: 0 auto;
}

.title-secondary {
  font-size: 2rem;
  position: relative;
}

.title-secondary:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #001E6C;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}


/*------/ Button /------*/
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #035397;
  color: #fff;
  transition: all 500ms ease;
}

.button-a {
  text-decoration: none;
  background-color: #001E6C;
  color: #fff;
  border-color: #5089C6;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/

.logo {
  font-size: 28px;
  margin: 0;
  padding: 5px 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo a {
  color:#001E6C;
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about .profile-image {
  margin-bottom: 2rem;
}

.about .profile-image img {
  margin-left: 10px;
}

@media (min-width: 767px) {
  .about .box-pl2 {
    margin-top: 3rem;
    padding-left: 0;
  }
}

.about .skill-title {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}


.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


.contact-form .error {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-form .success {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact-form input,
.contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #001E6C;
}

.contact-form input {
  padding: 10px 15px;
}

.contact-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.contact-form button[type="submit"] {
  background: #001E6C;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact-form button[type="submit"]:hover {
  background: #3393ff;

}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #035397;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

